.head {
  text-align: center;
  height: 200px;
  position: relative;
}

.container {
  text-shadow: 0.5px 0.5px #bd8c8c;
  background-color: #070707;
  height: 500px;
  border: 3px solid;
  text-align: center;
  align-items: center;
  content: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

.foot {
  text-align: center;
  align-items: center;
  content: center;
}
